.theme-light {
    --color-primary: #FFFACC    ;
    --color-secondary: #53131E;
    --color-highlight: #B5D6B2;
    --color-pencil:#1C5D99;
 }.theme-dark {
    --color-primary: #1E352F;    
    --color-secondary: #A6C36F;
    --color-highlight: #335145;
    --color-pencil:#FFA400;
}
.theme-neon {
    --color-primary: #E55934;    
    --color-secondary: #0A2463;
    --color-highlight: #FFD166;
    --color-pencil:#7CA982;
}

body{
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: 3vh;;
    
}
#gameBoard {

    margin: auto;
    /* padding: 10px; */
    aspect-ratio: 9/12;
    max-height: 80vh;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(12,1fr);
    font-family: Helvetica, Arial, sans-serif;

    max-width: 98vw;
    box-sizing: border-box;   
}
.seg{
    grid-row: span 3;
    grid-column: span 3;
    border: 0.01rem solid var(--color-secondary);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr)
}
.cell{
    grid-row: span 1;
    grid-column: span 1;
    border: dotted 0.01rem  var(--color-secondary);
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* font-size: 2em; */
    overflow: auto;
    color: var(--color-pencil)

}
.static{
    color: var(--color-secondary);
}
#inputSelectorPanel{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: 1fr;
    grid-column: span 9;
    color: var(--color-secondary);
}
.inputSelectorItem{
    grid-row: span 1;
    grid-column: span 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* font-size: 2em; */
    overflow: auto;
    /* aspect-ratio: 1/1; */
    margin: 5%;
    border-radius: 5%;
    
}
#newGameButton{
    grid-column-start: 4;
    grid-column-end: 7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* grid-column: span 3; */

}
.themeSelector{
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 5%;
    border: solid var(--color-secondary);
    color: var(--color-secondary);
    background-color: var(--color-primary);
    margin: 5%;
    font-weight: bolder;
    

}
/* #newGameButton{
    text-align: center;
    max-width: 30vw;
    position: absolute;
    right:33vw;
    
    /* display: flex; 
} */